<%= render 'shared/navbar'%>
<div class="container-expand-sm">
  <div class="banner_marion">
    <div class="banner_marion_photo">
      <%= image_tag("marion.png", size: "140x110", alt: "marionhenrio") %>
    </div>
    <div class="banner_marion_title">
      <h2>Marion HENRIO</h2>
      <p>Experte en gestion de projet dans l'innovation digitale du secteur Luxe, j’ai complété mon parcours en me spécialisant dans le développement web.
        Avide d’apprendre et d’entreprendre, j’ai obtenu fin Mars 2020 la certification du Wagon, validant mes nouvelles compétences techniques.
        Mon expertise en gestion de projets digitaux, mon sens du design et mon expertise technique web vous garantissent ainsi un accompagnement très complet.</p>
    </div>
  </div>
  <div class="mon_parcours_marion">
    <h2>Mon parcours</h2>
      <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag("dior.png", size: "60x60", alt: "marionhenrio") %>
              <!-- <img class="img-circle img-responsive" src="assets/images/dior.jpg" alt=""> -->
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Fev 2020 - Mars 2020</h4>
                    <!-- <h3 class="subheading">Freelance Conceptrice et developpeuse web</h4> -->
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Freelance Conceptrice et developpeuse web</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("le_wagon.jpg", size: "60x60", alt: "lewagon") %>
              </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Fev 2020 - Mars 2020</h4>
                  </div>
                    <div class="timeline-body">
                      <p class="text-muted">Bootcamp intensif du Wagon - 9 semaines pour apprendre à coder un projet web. Certification de conceptrice & développeuse web obtenue.</p>
                    </div>
                </div>
            </li>
            <li>
              <div class="timeline-image">
                <%= image_tag("dior.png", size: "60x60", alt: "dior") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Janv 2018 - Mars 2019</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Chef de projet Innovation Digitale Worldwide - PARFUMS CHRISTIAN DIOR</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("maccosmetics.png", size: "60x60", alt: "maccosmetics") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Mai 2016 - Dec 2017</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Chef de projet Digital in-store - M.A.C Cosmetics EMEA</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <%= image_tag("maccosmetics.png", size: "60x60", alt: "maccosmetics") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Sept 2015 - Mai 2016</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Chef de projet Store Design - M.A.C Cosmetics EMEAI</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("loreal.jpg", size: "60x60", alt: "loreal") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Sept 2014 - Sept 2015</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Acheteuse Junior PLV/PROMO - L'OREAL - Division des Produits Professionnels</p>
                  </div>
                </div>
            </li>
            <li>
              <div class="timeline-image">
                <%= image_tag("emnormandie.jpeg", size: "60x60", alt: "emnormandie") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2011 - 2015</h4>
                </div>
                  <div class="timeline-body">
                    <p class="text-muted">Ecole de Management de Normandie, Le Havre. Master Marketing & Stratégie commerciale obtenu</p>
                  </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("iut_sb.jpg", size: "60x60", alt: "iut") %>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                   <h4>2009 - 2011</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">IUT Techniques de commercialisation, St Brieuc. DUT Techniques de commercialisation obtenu</p>
                </div>
              </div>
            </li>
        </ul>
      </div>
      </div>
  </div>
  <div class="mes_competences_marion">
     <h2>Mes compétences</h2>
     <div class="mes_competences_1">
      <div class="round_1">
        <p>HTML 5</p>
      </div>
      <p>CSS 3</p>
      <p>Ruby</p>
      <p>Ruby on Rails</p>
      <p>Javascript</p>
      <p>JQuery</p>
     </div>
     <div class="mes_competences_2">
      <p>Bootstrap</p>
      <p>My SQL</p>
      <p>Git, Github</p>
      <p>Shopify</p>
      <p>Gestion de projet agile</p>
      <p>SEO</p>
     </div>
     <div class="mes_hobbies">
      <p>🇬🇧 English speaking</p>
      <p>J’♥️  le surf, les voyages, le soleil & la Bretagne !</p>
     </div>
  </div>
  <div class="me_contacter_marion">
     <h2>Me contacter</h2>
     <div class="contact_infos_marion">
       <p>✉️ marion.henrio@hotmail.fr</p>
       <p>📞 06.59.80.47.38</p>
       <p>📍Nantes.</p>
     </div>
     <div class="linkedin">
       <a href=""></a>
     </div>
    </div>
  </div>
</div>

<%= render 'shared/footer'%>

